{% extends 'base.html' %} {% block title %} 
Contacts - My Blog
{% endblock %} 
{% block content %}

<h1>Welcome to Contacts Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique maxime,
  maiores recusandae illum labore alias magni laboriosam temporibus expedita
  nam! Odio est minima magni quas laborum magnam fugit iure id at sapiente earum
  aliquam, ratione accusantium et sequi similique quisquam. Quisquam dolorem
  maxime, placeat fuga earum reprehenderit est laudantium, possimus unde, illum
  eum tempora corrupti saepe non voluptates. Accusamus provident ad quibusdam
  dicta exercitationem ipsa temporibus, doloremque rem. Voluptate reiciendis
  ducimus, temporibus est a commodi nisi eum tempora ea exercitationem illum
  veritatis fugit nihil obcaecati, odio consequuntur saepe rerum nam voluptates,
  soluta quaerat dolorum vel vitae. Sint cum asperiores officia.
</p>

<h2>Contact Us</h2>
<p>Rajesha</p> <br>
<p>Address: Bangalore</p>
<p>Ph: 9553120106</p>
<p>Email: abcd@gmail.com</p>

{% endblock %}
