{% extends 'base.html' %} 


{% block content %}
<h2>Welcome, {{ user.username }}!</h2>
<h2>Welcome to the Home Page!</h2>
<p>You have successfully logged in.</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam blanditiis quo
  exercitationem facilis commodi, officia maiores sapiente recusandae dolorem
  quibusdam vitae eligendi. Nesciunt pariatur eligendi molestiae sequi nulla
  ducimus esse, laudantium id ullam deleniti aut corrupti excepturi neque cumque
  sapiente doloremque! Voluptates ea dolorum placeat quis error, quasi
  exercitationem beatae?
</p>
{% endblock %}
